/* zeroed out margin and padding. created a universal box-sizing. established the universal font-family - per Google Fonts */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
    scroll-behavior: smooth; /* learned about slow scroll behavior from https://www.w3schools.com/howto/howto_css_smooth_scroll.asp */
}

body

/* created a flex container for the header, main and footer elements */
header,
main {
    display: flex;
    width: 95%;
    margin:20px  auto;
    justify-content: space-between;
}

/* created even spacing in the header and footer navs */
nav {
    display:flex;
    justify-content: space-evenly;
    width: 80%;
}

aside {
    width: 20%;
    padding: 10px;
    border-right: 1px solid white;
}

aside p {
    margin:20px 20px 20px 0;
}

section {
    width: 80%;
    padding-left:10px;
}
/* creates a flex-wrap for the 5 day forecast */
article {
    display: flex;
    flex-wrap: wrap;
}
.weather-result {
    width:99.9%;
    min-width: 300px;
    min-height: 300px;
    flex: 0 0 400;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
label {
    font-size:20px;
    margin:10px 0px;
    display: inline-block;
}
input,
button { 
    width: 100%;
    margin:10px 0px;
    font-size:18px;

}

#currentWeather {
    color:white;
    font-size:25px;
}

#forecastFive {
    display: block;
    padding: 10px 20px;

}
/* this will display a background video behind the content div*/
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  /* this will control the content section that will display over the background video */
.content {
    position: fixed;
    top: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
/* large screens */
@media screen and (max-width: 1324px) {
    .weather-result {
        width:50%;
    }

}
/* medium screens */
@media screen and (max-width: 883px) {
    .weather-result {
        width:1000%;
    }
    .weather-result a {
        padding: 100px 100px;
    }
    main {
        width: 95%;        
    }
    aside {
        width: 30%;
    }
    /* creates a flex-wrap for the project images */
    article {
        width:70%;
    }

}
/* small screens */
@media screen and (max-width: 600px) {
    main {
        display: block;      
    }
    
    article,
    aside {
        width: 100%;
    }

}